<div class="container-fluid">
	<div class="row page">
	  <div class="carousel slide" data-ride="carousel"  id="home">
	  	<div class="carousel-inner">
		  	<div class="item active">
		  		<img src="assets/images/carousel/carousel-fish.jpg" alt="Fish">
		  	</div>
		  	<div class="item">
		  		<img src="assets/images/carousel/carousel-lifestyle.jpg" alt="Lifestyle Photo">
		  	</div>
		  	<div class="item">
		  		<img src="assets/images/carousel/carousel-mission.jpg" alt="Mission">
		  	</div>
		  	<div class="item">
		  		<img src="assets/images/carousel/carousel-vaccinations.jpg" alt="Vaccinations">
		  	</div>
		  	<div class="item">
		  		<img src="assets/images/carousel/carousel-exoticanimals.jpg" alt="Exotic Animals">
		  	</div>
		  </div><!-- carousel-inner -->
		  <a href="#home" class="left carousel-control" role="button" data-slide="prev">
		  	<span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a href="#home" class="right carousel-control" role="button" data-slide="next">
		  	<span class="glyphicon glyphicon-chevron-right"></span>		  	
		  </a>
	  </div><!-- carousel slide -->
	</div><!-- row -->
</div><!-- container-fluid -->