<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div class="phone"><span class="phone"><a href="tel:+506-8681-5823"><span>+506-</span>8681-5823</a></span></div>
			</div>			
			<div class="col-sm-6">
			  <nav>
			    <ul>
			      <li><a href="#disclaimer">Disclaimer</a></li>
			      <li><a href="#terms">Condiciones y Terminos</a></li>
			      <li><a href="#copyright">Derechos de Autor</a></li>
			    </ul>
			  </nav>
			</div>
		</div>	
	</div>
</footer>