---
layout: default
title: Home
---
    
    {% include carousel.html %}

    <div class="container page" id="portafolio">
      <h2>Portafolio</h2>
      <div class="row">
        <div class="col-sm-4">
          <img src="http://placehold.it/300x300">
        </div>
        <div class="col-sm-4">
          <img src="http://placehold.it/300x300">
        </div>
        <div class="col-sm-4">
          <img src="http://placehold.it/300x300">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="http://placehold.it/300x300">
        </div>
        <div class="col-sm-4">
          <img src="http://placehold.it/300x300">
        </div>
        <div class="col-sm-4">
          <img src="http://placehold.it/300x300">
        </div>
      </div>
    </div>

  <div class="container page" id="portafolio">
    <div class="page" id="blog">
      <h2>Mi Blog</h2>

      <div class="row">
        <div class="">
          <div class="posts">
            {% for post in paginator.posts %}
            <div class="post col-md-4">
              <h3 class="post-title">
                <a href="{{ post.url }}">
                  {{ post.title }}
                </a>
              </h3>
          
              <span class="post-date">{{ post.date | date_to_string }}</span>
          
              {{ post.excerpt }}
          
              <a href="{{ post.url }}">Read more &raquo;</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="pagination">
        {% if paginator.next_page %}
          <a class="pagination-item older" href="/page{{paginator.next_page}}">Older</a>
        {% else %}
          <span class="pagination-item older">Older</span>
        {% endif %}
        {% if paginator.previous_page %}
          {% if paginator.page == 2 %}
            <a class="pagination-item newer" href="/">Newer</a>
          {% else %}
            <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer</a>
          {% endif %}
        {% else %}
          <span class="pagination-item newer">Newer</span>
        {% endif %}
      </div>
    </div>
  </div><!-- container -->

<section id="about">
  <div class="container">
      <div class="row">
        <h2 class="col-md-offset-5">Noelene Walker</h2>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum praesentium minima iusto assumenda expedita vero quas corporis optio eos pariatur temporibus aspernatur similique quia, non esse adipisci nesciunt. Optio.</p>
        </div>
        <div class="col-md-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum praesentium minima iusto assumenda expedita vero quas corporis optio eos pariatur temporibus aspernatur similique quia, non esse adipisci nesciunt. Optio.</p>
        </div>
        <div class="col-md-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum praesentium minima iusto assumenda expedita vero quas corporis optio eos pariatur temporibus aspernatur similique quia, non esse adipisci nesciunt. Optio.</p>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-2 col-md-offset-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum praesentium minima iusto assumenda expedita vero quas corporis optio eos pariatur temporibus aspernatur similique quia, non esse adipisci nesciunt. Optio.</p>
        </div>
        <div class="col-md-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum praesentium minima iusto assumenda expedita vero quas corporis optio eos pariatur temporibus aspernatur similique quia, non esse adipisci nesciunt. Optio.</p>
        </div>
        <div class="col-md-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nostrum praesentium minima iusto assumenda expedita vero quas corporis optio eos pariatur temporibus aspernatur similique quia, non esse adipisci nesciunt. Optio.</p>
        </div>                 
      </div>
  </div><!-- container -->
</section>




